table {
  width: 100%;
  margin: auto;
}

caption {
  font-size: 2em;
}

table, th, tr, td {
  border: 1px solid black;
  text-align: center;
}

table#boolean-value{
  background-color:red;
}

table#single-value{
  background-color: orange;
}

table#single-element{
  background-color:yellow;
}

table#multiple-elements{
  background-color:green;
}

table#subsets{
  background-color:blue;
}

table#iterative{
  background-color: #4b0082;
  color: white;
}

table#arrays{
  background-color: #551a8b;
  color: white;
}