.profile-img {
	height: 10em;
	width: 10em;
	border-radius: 100%;
	border: 1.5em solid #00ffff;
    display: inline-block;
    float:left;
}

header {
	background-color: #000000;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
}

main {
    position: absolute;
    top: 14em;
    color: #00ffff;
}

article {
    padding-bottom: 1em;
}



#contacts {
 height: 1.5em;
 margin: 0px;
 position: absolute;
 width: calc(100% - 6.5em);
 left: 6.5em;
 bottom: 0em;
 text-align: left;
}

#links {
    width: calc(100% - 11.5em);
    height: 1.5em;
    position: absolute;
    left: 11.5em;
    bottom: 3em;
    margin: 0;
}


header h1 {
	color: #00ffff;
	font-size: 2em;
    text-align: center;
}

header h2 {
    color: #00ffff;
    font-size: 1.5em;
    text-align: center;
}

header p {
 background-color: #0ff;  
 vertical-align: middle; 
}

header a {
    text-decoration: none;
    color: #000;
    text-align: center;
    display: inline-block;
    position: relative;
    float: right;

}
header a:hover {
    color: #0ff;
    background-color: #000;
}


header a:visited {
    font-style: italic;
}

#links a {
    width: calc((100%) / 4);
    height: 1.5em;
}

#contacts a {
    height: 1.5em;
    width: calc((100%) /  6);

}

html {
    background-color: #222;
    font-family: "Andale Mono", monospace;
}

article h2 {
    font-size: 1.5em;
    color: #fff;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 1.5em;
    margin: auto;
    width: 100%;
}

a {
    color: #ff0;
}

a:hover {
    color: #000;
    background-color: #ff0;
    text-decoration: none;
}

blockquote {
    color: #0f0;
}

table {
    border: 1px solid #0ff;
    margin: 1em auto;
}

td {
    border: 1px solid #0ff;
    text-align: center;
}