.profile-img {
	height: 10em;
	width: 10em;
	border-radius: 100%;
	border: 1.5em solid #ff6c00;
    display: inline-block;
    float:left;
}

header {
	background-color: #220679;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
}

main {
    position: absolute;
    top: 14em;
    color: #d48e00;
}

#info {
    display:block;
    overflow:hidden;
    
}

#contacts {
 height: 1.5em;
 margin: 0px;
 position: absolute;
 width: 100%;
 left: 6.5em;
 bottom: 0em;
 text-align: left;
}

#links {
    width: 100%;
    height: 1.5em;
    position: absolute;
    left: 11.5em;
    margin: 0;
}


header h1 {
	color: #ff6c00;
	font-size: 2em;
    text-align: center;
}

header h2 {
    color: #e36000;
    font-size: 1.5em;
    text-align: center;
}

header p {
 background-color: #ff6c00;   
}

header a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    margin: float;
}

#links a {
    width: calc((100% - 11em) / 4);
    height: 1.5em;
}

#contacts a {
    height: 1.5em;
    width: calc((100% - 3.5em) / 6);
    vertical-align: middle;
    padding-top: 1px;
}

html {
    background-color: #2a0a92;
}