#thumb-info {
  margin: auto;
  width: calc(0.8 * 100%);
  min-height: 3em;
  background-color: #0ff;
  display: block;
  text-align: center;
  color: #000;
}

#thumbnail {
  margin: auto;
  width: calc(0.8 * (100%));
  background-color: #444;
  display: block;
}


#thumbnail img {
  width: 100%;
}


main {
  width: 100%;
  right: 0px;
}

main article {
  padding: 0em;
}

.current {
  background-color: #ff0;
  color: #000;
}
